* {
  margin:0;
  padding: 0;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

form{
  display: relative;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
form .form-group{
  padding: 0.5em;
}
form label{
  margin-right: 0.5em;
}
form input[type="range"]{
  display: block;
  margin: 0 auto;
}
form input[type="submit"]{
  display: block;
  margin: 0 auto;
}
.pastWeek{
  margin:0;
  padding: 0;
}
.pastWeek ol{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.pastWeek li{
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  padding: 1em;
  margin: 0.5em;
  text-align: center;
  border: 1px solid;
  border-radius: 50%;
  user-select: none;
}

.pastWeek .logged{
  background-color: green;
}

.chart{
  max-width: 700px;
  margin: 0 auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
